@model FinalProject_LMS.ViewModels.UMessageView
<div class=" jumbotron">
    @{
        ViewBag.Title = "Details";
    }

    <h2>Message</h2>

    <div>
  
     
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("From")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SenderName)
            </dd>
            <dt>
                @Html.Label("To")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReciverName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Rubrik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rubrik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>




        </dl>
    </div>
    <p>
      
        @Html.ActionLink("Back to List", "OutIndex")
    </p>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/message")
}
