@model IEnumerable<FinalProject_LMS.ViewModels.AllStudentsView>

@{
    ViewBag.Title = "AllStudents";
}
<div class=" jumbotron">
    <h2>All Students</h2>


    <div class="navbar-right" style="margin-top:8px; margin-right:50px">
        @using (Html.BeginForm("SearchStudents", "Account", FormMethod.Get))
        {
            <ul class="nav navbar-nav">
                <li>@Html.TextBox("searchName", null, new { @Placeholder = "Name.." })</li>
                <li><input type="submit" value="Search" class=" btn btn-primary "/></li>
            </ul>
        }
    </div>







    <table class="table">
        <tr>



            <th>
                <a id="linkId" href="@Url.Action("AllStudents", "Account", new { SortOn = "Name" , Assending = true, searchName= ""})"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a>
                <a href="@Url.Action("AllStudents", "Account", new { SortOn = "Name" , Assending = false})"><i class="glyphicon glyphicon-sort-by-alphabet-alt"></i></a>
                @Html.DisplayNameFor(model => model.Name)


            </th>
            <th>
                <a href="@Url.Action("AllStudents", "Account", new { SortOn = "Email" , Assending = true, searchName= ""})"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a>
                <a href="@Url.Action("AllStudents", "Account", new { SortOn = "Email" , Assending = false})"><i class="glyphicon glyphicon-sort-by-alphabet-alt"></i></a>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                <a href="@Url.Action("AllStudents", "Account", new { SortOn = "CourseId" , Assending = true, searchName= ""})"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a>
                <a href="@Url.Action("AllStudents", "Account", new { SortOn = "CourseId" , Assending = false})"><i class="glyphicon glyphicon-sort-by-alphabet-alt"></i></a>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                
            </tr>
        }

    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/message")
}