@model IEnumerable<FinalProject_LMS.Models.Module>

@{
    ViewBag.Title = "CourseModule";



}
<div class=" jumbotron">

    <h2> @Html.Raw(ViewBag.CourseName) Course </h2>


    <p>
        @if (User.IsInRole("Teacher"))
        {
            @Html.ActionLink("Create New Module", "Create", "Modules", new { id = Url.RequestContext.RouteData.Values["id"] }, null)
        }


    </p>
    <table class="table">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Course.Name)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @if (User.IsInRole("Teacher"))
                    {
                        @Html.ActionLink("Edit", "Edit", "Modules", new { id = item.Id }, null)<span>|</span>
                        @Html.ActionLink("Delete", "Delete", "Modules", new { id = item.Id }, null)<span>|</span>
                    }

                    @Html.ActionLink("Activities", "ModuleActivity", "Modules", new { id = item.Id }, null)

                </td>
            </tr>
        }

    </table>
    @Html.ActionLink("Back to Courses", "Index", "Courses", new { id = Url.RequestContext.RouteData.Values["id"] }, null)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/message")
}